* {
    font-family: 'Judson', serif;
    box-sizing: border-box;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quando', serif;
}

button,
span {
    font-family: 'Montserrat', sans-serif;
}

nav a {
    font-family: 'Quando', sans-serif;
}

html {
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
}

.modal-body ul li {
    list-style-type: none;
    text-decoration: none;
}

.search {
    display: inline-flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;

    >* {
    flex: 1 30%;
    align-self: center;
    }
}



h4 {
    font-weight: bold;
}

nav {
    opacity: 1;

    .btn {
    float: right;
    }
}

hr {
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, white 80%, grey);
}

.pac-item-query {
    font-size: 110%;
}

.main button {
    margin-bottom: 12px;
}

.newsearch {
    display: flex;
    padding-top: 6px;
    flex-flow: wrap;
    justify-content: space-around;

    >* {
    flex: 1 23%;
    align-self: center;
}
}



.div_more {
    padding-top: 15px;
}

p {
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}


/******   MODALS    ******/

.fa-twitter {
    color: #1da1f2;
}

.fa-github {
    color: #181717;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-codepen {
    color: #000;
}

.fa-medium {
    color: #00ab6b;
}

.fa-youtube {
    color: #cd201f;
}

.fa-heart {
    color: blue;
}

.social {
    display: flex;
    justify-content: center;

    >*{
        padding-left: 6px;
    }
}



.fa {
    cursor: pointer;
}

.wrapper {
    flex: 1;
}

footer {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;

    p {
    padding-right: 20px;
    align-self: center;
    }

    div {
    padding-left: 20px;
    align-self: center;
    }
}

#newicon,
#firsticon {
    width: 30%;
    height: auto;
}