* {
  text-align: center;
  font-family:'Judson',serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Quando', serif;
}

button,span{
  font-family: 'Montserrat', sans-serif;
}

nav a{
  font-family: 'Quando', sans-serif;

}

html{
  width:100%;
  height:100%;
}

.modal-body ul li{
  text-decoration: none;
  list-style-type: none;

}

.search {
  display: inline-flex;
  justify-content: center;
}

.main{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;

}

.main > *{
  flex:1 30%;
  align-self: center;
}




h4 {
  font-weight: bold;
}



nav .btn{
  float:right;
}



nav{
  opacity:1;
}

hr {
  color: black;
}

body{
  display:flex;
  min-height: 100vh;
  flex-direction:column;

  background: linear-gradient(to right, white 80% , grey );
}

.main button{
  margin-bottom: 18px;
}

.newsearch{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding-top: 10px;
}

.newsearch > *{
  flex:1 23%;
  align-self: center;
}

.div_more{
  padding-top: 20px;
}


p{
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
  flex-flow: wrap;
}


/******   MODALS    ******/


.fa-twitter{
    color: #1DA1F2;
}
.fa-github{
    color: #181717;
}
.fa-linkedin{
    color: #0077B5;
}
.fa-codepen{
    color: #000000;
}
.fa-medium{
    color: #00AB6B;
}
.fa-youtube{
    color: #CD201F;
}
.fa-heart{
  color:blue;
}


.social{
    display: flex;
    justify-content: center;

}

.social > *{
  padding-left: 10px;
}



.fa{

    cursor: pointer;
}



.wrapper{
  flex:1;
}


footer{
  display:inline-flex;
  flex-flow:row wrap;
  justify-content: space-between;


}

footer p{
  padding-right: 25px;
  align-self:center;
}
footer div{
  padding-left: 25px;
  align-self:center;
}

#newicon,#firsticon{
  width:50%;
  height: auto;;
}
